<h1>New Note</h1>
<%= form for @note do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :descriptiion %>
<%= f.text_field :description %>

<%= f.label :priority %> 
<%= f.select :rating, [1,2,3,4,5] %>

<%= f. label :complete %>
<%= f.select(:like, options_for_select([['True', true], ['False', false]], @restaurant.like)) %>

<%= f.submit %>
<% end %>