<h1>Here are your notes:</h1>
<% @notes.each do |note| %>
  <hr />
  <h3><%= note.title %></h3>
  <hr />
  <p><%= note.description %></p>
  <h4><%= note.priority %></h4>
  <h4><%= note.complete %></h4>
  <%= link_to 'Edit', edit_note_path(note) %>
  <%= link_to 'Delete', note_path(note), method: :delete %>
  <%= link_to 'Show Note', note_path(note) %>
<% end%>


